.schedule-item {
  padding-bottom: 2.75rem;
  border-bottom: 1px solid var(--color-line-in-white);

  position: relative;
}

.schedule-item + .schedule-item {
  margin-top: 3.65rem;
}

.interval-section {
  display: flex;
  column-gap: 1.6rem;
}

.interval-section .input-block {
  flex-grow: 1;
  margin-top: 1.6rem;
}

.delete-class-schedule-button {
  font: 600 1.2rem Archivo, sans-serif;
  line-height: 2rem;

  color: var(--color-danger);

  padding-inline: 2.5rem;
  border: 0;

  background: var(--color-title-in-primary);
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

@media (min-width: 700px) {
  .schedule-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.6rem;
  }

  .interval-section .input-block {
    flex-grow: 1;
    margin-top: 0;
  }

  .delete-class-schedule-button {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}