#sign-up-container h1 {
  font: 700 3.6rem Poppins;
  line-height: 3.4rem;
  color: var(--color-text-title);
}

#sign-up-container p {
  font: 400 1.6rem Poppins;
  line-height: 2.6rem;
  color: var(--color-text-base);

  margin-top: 2.1rem;
}

#sign-up-container form {
  margin-top: 4rem;
}

.submit-button-container {
  margin-top: 4rem;
}