#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-teacher-form .page-header .header-content .page-description {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

@media (min-width: 700px) {
  #page-teacher-form .page-header .header-content {
    margin-bottom: 0;
  }

  #page-teacher-form fieldset .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }
}