.page-header .header-content .page-subtitle {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

@media (min-width: 700px) {
  .page-header .header-content .page-subtitle {
    max-width: 350px;
  }
}
