#login-wrapper {
  width: 100vw;
  height: 100vh;
}

#login-wrapper > section {
  padding: 4rem 2rem;
}

#login-wrapper > section > form > header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

#login-wrapper > section > form > header > h1 {
  font: 700 2.4rem Poppins;
  line-height: 4.2rem;
  color: var(--color-text-title);
}

#login-wrapper > section > form > header > a {
  text-decoration: none;
  color: var(--color-primary);

  transition: color 0.2s;
}

#login-wrapper > section > form > header > a:hover { 
  color: var(--color-primary-darker);
}

#login-wrapper > section > form > article {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem auto;
}

/* .checkbox-block {
  position: relative;
} */

.checkbox-block input {
  visibility: hidden;
  width: 0;
}

.checkbox-block label {
  cursor: pointer;
  position: relative;
}

.checkbox-block label span {
  position: absolute;
  left: 3rem;

  color: var(--color-text-complement);

  white-space: nowrap;
}

.checkbox-block label::before {
  content: '';
  cursor: pointer;
  position: absolute;

  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
}

.checkbox-block label:after {
  content: '';
  display: block;

  width: 0.9rem;
  height: 0.45rem;

  border-bottom: 2px solid var(--color-input-background);
  border-left: 2px solid var(--color-input-background);
  transform: rotate(-45deg) scale(0);

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.checkbox-block input:checked + label::before {
  background: var(--color-secundary);
}

.checkbox-block input:checked + label::after {
  transform: rotate(-45deg) scale(1);
}

.checkbox-block input:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

#login-wrapper > section > form > article > a {
  color: var(--color-text-complement);
  font-size: 1.6rem;
  
  text-decoration: none;

  transition: color 0.2s;
}

#login-wrapper > section > form > article > a:hover {
  color: var(--color-text-complement-blur);
}

#login-wrapper > section > article {
  display: none;
}

@media (min-width: 700px) {
  #login-wrapper {
    display: flex;
  }

  #login-wrapper > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    width: 45vmax;
  }

  #login-wrapper > section > form,
  #login-wrapper > section > article {
    width: 70%;
  }

  #login-wrapper > section > form > header > h1 {
    font: 700 3.6rem Poppins;
  }

  #login-wrapper > section > form > header > a {
    display: none;
  }

  #login-wrapper > section > article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  #login-wrapper > section > article > div:nth-child(1) > a {
    text-decoration: none;
    font: 700 1.6rem Poppins;
    color: var(--color-primary);
  }

  #login-wrapper > section > article > div:nth-child(1) > a:hover { 
    color: var(--color-primary-darker);
  }

  #login-wrapper > section > article > div:nth-child(2) {
    display: flex;
  }

  #login-wrapper > section > article > div:nth-child(2) > p {
    color: var(--color-text-complement);
    margin-right: 0.8rem;
  }
}