#encouragement-message-icon {
  width: 1.8rem;
  height: 1.8rem;
}

#encouragement-message {
  font: 400 1.2rem Poppins, sans-serif;
  color: var(--color-text-in-primary);

  margin-left: 0.8rem;
}

@media (min-width: 700px) {
  #encouragement-message-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  #encouragement-message {
    line-height: 2rem;

    margin-left: 1.6rem;
  }
}
