
.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;

  margin: 3.2rem auto;

  background-color: transparent;
}

@media (min-width: 700px) {
  .page-header .top-bar-content {
    max-width: 1100px;
  }

  .page-header .header-content {
    flex-grow: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 6.4rem;
  }

  .page-header .header-content.small {
    height: 25.6rem;
  }

  .page-header .header-content.medium {
    height: 35.2rem;
  }

  .page-header .header-content.large {
    height: 47.1rem;
  }
}