#page-my-profile .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 4rem;
  padding-bottom: 8rem;
}

#page-my-profile .user-name {
  color: var(--color-title-in-primary);
  font: 700 2.4rem Archivo, sans-serif;
  line-height: 2.5rem;

  margin-top: 2.4rem;
}

#page-my-profile .user-subject-name {
  color: var(--color-text-in-primary);
  font: 400 1.6rem Poppins, sans-serif;
  line-height: 2.6rem;

  margin-top: 0.4rem;
  /* margin-bottom: 4rem; */
}

#page-my-profile .schedule-item {
  padding-bottom: 2.75rem;
  border-bottom: 1px solid var(--color-line-in-white);

  position: relative;
}

#page-my-profile .delete-class-schedule-button {
  color: var(--color-danger);

  padding-inline: 2.5rem;
  border: 0;

  background: var(--color-title-in-primary);
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

#page-my-profile .schedule-item + .schedule-item {
  margin-top: 3.65rem;
}

@media (min-width: 700px) {
  #page-my-profile .header-content {
    padding-bottom: 12.8rem;
  }

  #page-my-profile .user-name {
    font-size: 3.6rem;

    margin-top: 3.2rem;
  }

  #page-my-profile .user-subject-name {
    font-size: 2.4rem;

    margin-top: 1.6rem;
    margin-bottom: initial;
  }

  #page-my-profile fieldset .name-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
  }

  #page-my-profile fieldset .contact-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3.2rem;
  }

  #page-my-profile fieldset .subject-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3.2rem;
  }

  #page-my-profile fieldset .schedule-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }
}