.confirmation-button {
  display: grid;
  place-items: center;

  height: 5.6rem;
  padding-inline: 4rem;
  border: 0;
  border-radius: 0.8rem;

  font: 600 1.6rem Archivo, sans-serif;
  line-height: 2.6rem;
  color: var(--color-button-text);
  background-color: var(--color-secundary);
  
  cursor: pointer;
  transition: background-color 0.2s;
}

.confirmation-button:hover {
  background: var(--color-secundary-dark);
}

.confirmation-button.full-width {
  width: 100%;
}