.form-container {
  position: relative;
  z-index: 2;

  background: var(--color-box-base);

  width: auto;
  max-width: 74rem;
  
  margin-top: -4rem;
  margin-bottom: 3.2rem;
  margin-inline: 1.6rem;
  padding-top: 2.4rem;
  border-radius: 0.8rem;
  
  overflow: hidden;
}

.form-container fieldset {
  border: 0;
  padding: 0 2.4rem;
}

.form-container fieldset + fieldset {
  margin-top: 4rem;
}

.form-container fieldset legend {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font: 700 2rem Archivo, sans-serif;
  color: var(--color-text-title);
  line-height: 3rem;

  width: 100%;
  margin-bottom: 2.4rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

.form-container fieldset legend button {
  font: 700 1.4rem Archivo, sans-serif;
  color: var(--color-primary);
  line-height: 2.6rem;

  background: none;
  border: 0;

  cursor: pointer;
  transition: color 0.2s;
}

.form-container fieldset legend button:hover {
  color: var(--color-primary-dark);
}

.form-container fieldset .input-block + .textarea-block,
.form-container fieldset .select-block + .input-block,
.form-container fieldset .fields-section + .fields-section,
.form-container fieldset .fields-section + .textarea-block {
  margin-top: 1.6rem;
}

.form-container label {
  color: var(--color-text-complement);
}

@media (min-width: 700px) {
  .form-container {
    padding-top: 6.4rem;
    margin-top: -6.4rem;
    margin-inline: auto;
  }

  
  .form-container fieldset {
    padding: 0 6.4rem;
  }

  .form-container fieldset + fieldset {
    margin-top: 6.4rem;
  }

  .form-container fieldset legend {
    font-size: 2.4rem;
    line-height: 3.4rem;
    
    padding-bottom: 1.6rem;
  }

  .form-container fieldset legend button {
    font-size: 1.6rem;
  }

  .form-container fieldset .fields-section + .fields-section,
  .form-container fieldset .fields-section + .textarea-block {
    margin-top: 2.4rem;
  }

  .form-container fieldset .fields-section .select-block + .input-block,
  .form-container fieldset .fields-section .input-block + .input-block {
    margin-top: 0;
  }
}